<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find probot_gazebo)/launch/probot_anno/probot_anno_bringup_moveit.launch" /> -->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_width"         value="640"/>
        <arg name="color_height"        value="480"/>
        <arg name="enable_color"        value="true"/>
    </include>

    

</launch>