<?xml version="1.0"?>
<!-- BOTTOM FIXED LINK 
This link is the base of the arm in which arm is placed 
-->
<robot name="hand_camera" xmlns:xacro="http://ros.org/wiki/xacro">

   <joint name="hand_camera_joint" type="fixed">
        <origin xyz="0.0 -0.033 0.015" rpy="0 ${-M_PI/2} ${M_PI}"/>
        <parent link="tool0"/>
        <child link="hand_camera_link"/>
   </joint>
  
   <!-- Camera -->
   <link name="hand_camera_link">
       <collision>
           <origin xyz="0 0 0" rpy="${-M_PI/2} ${M_PI/2} 0"/>
           <geometry>
           <mesh filename="package://probot_description/meshes/sensors/camera.STL" />
           </geometry>
       </collision> 

       <visual>
           <origin xyz="0 0 0" rpy="${-M_PI/2} ${M_PI/2} 0"/>
           <geometry>
           <mesh filename="package://probot_description/meshes/sensors/camera.STL" />
           </geometry>
           <material name="black"/>
       </visual>

       <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
          iyy="1.0" iyz="0.0"
          izz="1.0" />
       </inertial>
   </link>

   <xacro:include filename="$(find probot_description)/urdf/sensors/hand_camera.gazebo.xacro"/>
</robot>
